<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stationboard</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/assets/app.js" defer></script>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>

  <body>
    <div class="table-fixed-head">
      <table id="app" id="time-table">
        <tbody id="table-body">
            <tr v-for="train in trains"> <td> {{ timestampToTime(train.stop.departureTimestamp) }} </td>
                <td> {{ train.to }} </td>
                <td>  {{ train.stop.platform }} </td> </tr>
          <!-- hier erscheint die Tabelle -->
        </tbody>
        <thead>
            <tr>
            <th>Uhrzeit</th>
            <th>Richtung</th>
            <th>Gleis</th>
        </tr>

        </thead>
        <caption>
          <h1>Stationboard {{ stationName }}</></h1>
          <input type="text" id="station" v-model="station" v-on:keypress.enter="loadConnections"/>
          <button v-on:click="loadConnections">ok</button>
        </caption>
      </table>
    </div>
  </body>
</html>
